html {
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

*,*::before,*::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Catamaran", san-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    overflow-x: inherit;
}
a {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
a:hover {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
[role="button"], a, area, button, input, label, select, summary, textarea {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
button {
    color: #e46f55;
    background-color: #fff;
    border: 2px solid#e36f55;
    border-radius: 30px;
    display: inline-block;
    font-weight: 700;
    font-size: 1.125rem;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .9375rem 3.125rem;
    line-height: normal;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    transition: all .15s ease-in-out;
}
button:hover {cursor: pointer;}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    line-height: 1.1;
}
img {
    vertical-align: middle;
    border-style: none;
}

.hero {
    width: 100%;
    height:100%;
    background: linear-gradient(180deg, #eb5757 0%, #d59152 100%);
}
.menu {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between !important;
    padding: .9375rem 1rem;
    letter-spacing: 1px;
}
.menu-expand {
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.container-fluid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}
.menu > .container-fluid {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.menu-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: .875rem;
    font-weight: 900;
    line-height: 22px;
    white-space: nowrap;
}
.menu-brand:focus, .menu-brand:hover {
    text-decoration: none;
}
.menu-brand img {margin-right:.75rem;}
.menu-center {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.menu-link {
    display: block;
    padding: .5rem 1rem;
    font-size: .875rem;
    font-weight: 700;
    text-transform: uppercase;
}
.menu button {
    font-weight: 700;
    font-size: .875rem;
    line-height: 23px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.2) !important;
    padding: .5rem 1.75rem;
    color: #fff;
}
span#toggleMenu-text {
    position: absolute;
    opacity: 0;
}
.round {
    border-radius: 30px;
}
.landing {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /* height: 25rem; */
    min-height: 60vh;
    width: 100%;
    margin: 0 auto;
    padding-top: 4.75rem;
    text-align: center;
    overflow: hidden;
    color: #fff;
}
.landing .content {
    position:relative;
    align-self: center;
    margin: 0 auto;
    max-width: 46rem;
}
.landing .content .title {
    font-weight: 900;
    line-height: 67px;
    font-size: 4rem;
    color: #fff;
    margin-bottom: 7.5rem;
}
.hero-form {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    margin: -5.875rem auto 0rem;
    text-align: center;
}
.search-form {
    position:relative;
    align-self: center;
    margin: 0 auto;
}
.search-form label {font-weight: 500; line-height: normal; font-size: 1.5rem; margin-bottom: 1rem; color: #fff;}
.search-form #search {
    background: #fff; 
    border: 3px solid #f2994a; 
    border-radius: 40px;
    display: block;
    width: 100%;
    padding: 1.5rem .75rem;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.25;
    color: #c3c0c0;
    text-align: center;
}

.about {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 5.625rem 0rem 0rem;
    margin: 0 auto;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}
.about h6 {
    font-weight: 900;
    font-size: 1.125rem;
    letter-spacing: .2rem;
    color: #c3c0c0;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1.875rem;
}
.about p {
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
    max-width: 56.5rem;
    margin: 0 auto;
}
.locations {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    padding: 5.625rem 0rem;
}
.cld-responsive {
    max-width: 100%;
    height: inherit;
    object-fit: cover;
}
.locations .cld-responsive {
    width: 100%;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: .3125rem;
    height: 25rem;
}
.overlay {
    position: absolute;
    background-color: rgba(4,4,4,.5);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.card:hover .overlay{
    opacity: .5;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.card-image {height: 100%;}
.location {position: absolute; left: 10%; bottom: 5%; width: 100%;}
.location h4 {font-size: 2rem; font-weight:700; color: #fff; margin-bottom: 0rem;}
.location p {font-weight: 700; line-height: normal; font-size: 1.125rem; color: #d78e52;}
.locations button {margin: 1.875rem auto 0rem; display: flex;}
.mosque {
    position: relative;
}
.mosque .content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    height: 25rem;
}
.mosque .content .text {
    position: absolute;
    top: 27%;
    left: 0;
    width: 100%;
    margin: 0 auto;
}
.mosque .content .image {height: 100%;}
.mosque .cld-responsive {
    width: 100%;
}
.mosque .text h6 {font-weight:700; line-height: normal; font-size:1.125rem; letter-spacing: 0.1rem;text-transform: uppercase;}
.mosque .text h1 {font-weight:700; line-height: 4.8rem; font-size:4.5rem; letter-spacing: 0.1rem; color: #fff; width: 50%;}
footer {padding: 1.25rem 0rem;}
footer .row{justify-content: space-between;margin:0 15px;}
footer span, footer a {font-weight: 700; line-height: normal; font-size: .875rem; color: #a9a9a9;}
footer a:hover {color: #E36F55; transition: all .2s ease-in-out;}


/* Media Queries */
@media screen and (max-width:359px) {
    .location h4 {font-size: 1.75rem;}
    .location p {font-size: 1rem;}
    footer .row {text-align: center;}
    footer span {width: 100%;}
}
@media screen and (max-width:575px) {
    .landing {padding-top: 0rem;}
    .landing .content .title {font-size: 2.0rem !important;line-height:40px !important; margin-bottom:2.5rem;}
    .hero-form {margin: -3.875rem auto 0rem;}
    .search-form label {font-size: 1.25rem; margin-bottom:.5rem;}
    .search-form #search {padding: .5rem; font-size: 1rem;}
    .about {padding-top: 2.75rem;}
    .about h6 {margin-bottom: .9375rem;}
    .about p {text-align: justify; font-size: 1rem !important;}
    .container {padding: 0 30px;}
    .locations {padding: 2.75rem 0rem;}
    .mosque .text h6 {font-size: 1rem;}
    .mosque .text h1 {width: 100% !important;}
    
}
@media screen and (max-width:767px) {
    .landing .content .title {font-size: 3rem;line-height:50px;}
    .about p {font-size: 1.25rem;}
    .menu-expand > .container-fluid {
        padding-right: 0;
        padding-left: 0;
    }
}
@media screen and (max-width:991px) { 
    .card {height: 18.75rem;}
    .col-4 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        padding-bottom: 15px;
    }
    button {padding: .5rem 1.5rem;}
    .locations button {margin-top: 1rem;}
    .mosque .content {height: 12.5rem;}
    .mosque .text h1 {line-height: 1.1 !important; width: 60%; font-size: 2.5rem;}
}
@media screen and (min-width:576px) {
    .container {
        max-width: 540px;
    }
}

@media screen and (min-width:768px) {
    .menu-toggler {display: none;}
    .menu-expand {
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .menu-expand > .container-fluid {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
    .container {
        max-width: 720px;
    }
    .landing {height: 25rem;}
}

@media screen and (min-width:992px) {
    .container {
        max-width: 960px;
    }
    .col-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

@media screen and (min-width:1200px) {
    .container {
        max-width: 1140px;
    }
}